@import './variables.scss';

*{
  font-family: 'Roboto', sans-serif;
}

.logo {
  border-bottom: 1px solid $border-gray;

  h3 {
    display: inline-block;
    color: $text-gray;
    font-family: 'Lobster', cursive;
    margin-left: 30px;;
  }

  i {
    color: $pink;
    font-size: 25px;
  }
}

body {
  margin: 0;
}

#player {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  padding: 20px;
}

.container {
  display: flex;
  margin: auto;

  #song-block {
    display: inline-block;

    ul {
      list-style: none;

      a {
        text-decoration: none;
        color: $text-gray;
        font-size: 13px;
      }
    }
  }

  #sidebar {
    position: relative;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: $light-gray;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        padding: 10px;
        padding-left: 20px;
        cursor: pointer;

        a, span {
          text-decoration: none;
          color: $text-gray;
          font-size: 13px;
        }

        i {
          margin-right: 10px;
          color: $pink;
          font-size: 12px;
        }

        &:hover {
          background-color: $pink;
          i, a, span {
            color: white;
          }
        }
      }
    }
  }
}

.main {
  width: 100%;
}

.header {
  color: $text-gray;
  height: 61px;
  padding-left: 40px;
  display: flex;
  border-bottom: 1px solid $border-gray;

  i {
    margin-top: 23px;
    font-size: 11px;
    margin-right: 15px;
  }

  #myText {
    width: 25%;
    border: none;
    height: 30px;
    margin-top: 12px;
  }
}

#player.visible {
  visibility: visible;
}

#player > h4 {
  margin-top: 0;
}

.controls-wrapper {
  display: flex;
}

.controls-wrapper img {
  height: 85px;
  border-radius: 5px;
  margin-right: 20px;
}

.control-button {
  margin-right: 10px;
}

.details-page .background-img {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  object-fit: cover;
}

.details-page .cover-img {
  width: 200px;
}

.details-page .details-content {
  display: flex;
  padding: 20px;
}

.bell {
  margin-right: 15px;
  margin-left: 45%;

  #notification {
    margin-top: 23px;
  }
}

.userBlock {
    border-left: 1px solid $border-gray;

    img {
      border-radius: 50%;
      height: 35px;
      margin-left: 25px;
      padding-bottom: 14px;
      padding-top: 13px;
    }
  }
