@import './variables.scss';

*{
  font-family: 'Roboto', sans-serif;
}

.logo {
  border-bottom: 1px solid $border-gray;

  a {
    font-size: 19px;
    padding: 17px;
    display: inline-block;
    color: $text-gray;
    font-family: 'Lobster', cursive;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
  }

  i {
    font-weight: 400;
    margin-left: 3px;
    color: $pink;
    font-size: 25px;
  }
}

body {
  margin: 0;
  height: 100vh;
  background-color: $white-smoke;
}

#player {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.32);
  margin: 0px;
}

.container {
  display: flex;
  margin: auto;

  #song-block {
    display: inline-block;

    ul {
      list-style: none;

      a {
        text-decoration: none;
        color: $text-gray;
        font-size: 13px;
      }
    }
  }

  #sidebar {
    position: fixed;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: $light-gray;

    .titles {
      font-size: 13px;
      margin-left: 11px;
      color: $title-gray;
    }

    ul {
      list-style: none;
      padding-left: 0;
      height: calc(100vh - 80px);
      overflow-y: scroll;
      margin-bottom: 0;

      &.short-height {
        height: calc(100vh - 144px);
      }

      li {
        padding: 10px;
        padding-left: 20px;
        cursor: pointer;

        a, span {
          text-decoration: none;
          color: $text-gray;
          font-size: 13px;
        }

        i {
          margin-right: 10px;
          color: $pink;
          font-size: 12px;
        }

        &:hover {
          background-color: $pink;
          i, a, span {
            color: white;
          }
        }
      }
    }
  }
}

.main {
  width: 100%;
  padding-left: 200px;
}

.header {
  color: $text-gray;
  height: 61px;
  padding-left: 40px;
  display: flex;
  border-bottom: 1px solid $border-gray;
  position: relative;

  i {
    margin-top: 23px;
    font-size: 12px;
    margin-right: 0px;
  }
  p {
    color: $text-gray;
    display: inline-block;
    float: right;
    font-size: 13px;
    margin-left: 15px;
    font-weight: 600;
  }
  .redNotification {
    background-color: $pink;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    margin-top: 20px;
    position: absolute;
     right: 218px;
  }

  #notification {
    margin-top: 23px;
    position: absolute !important;
    right: 238px !important;
  }

.userBlock {
  display: flex;
  position: absolute;
  right: 11px;

  #circle-down {
    font-size: 15px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    color: $text-gray;
  }
}
.navBlock{

  #myText {
    background-color: $white-smoke;
    border: none;
    height: 30px;
    margin-top: 12px;
    outline: none;
    transition: transform 550ms ease-out;
    &:focus {
      border-bottom: 1px solid $border-gray
    }
    }
  }
}
h3 {
  margin-left: 15px;
  color: $text-gray;
}

#songList {
  display: flex;

  div {
    background-color: $white;
    margin-left: 20px;
    box-shadow: 4px 7px 10px rgba(34, 25, 25, 0.09);
    border-radius: 3px;


    p, h5 {
      font-size: 13px;
      margin: 5px;
      color: $text-gray;
    }

    .blockImage {
        width: 13vw;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
  }
}

#current-time, #duration-time {
  color: $text-gray;
}

#player.visible {
  visibility: visible;
  padding: 10px;
  border-top: 1px solid $border-gray;
}

.controls-wrapper {
  div.songPlay {
    margin-bottom: 0px;
    display: flex;
    margin-top: auto;

    h4, span {
      user-select: none;
    }
  }
}

ul {
  li {
    height: 30px;
  }
  #pauseList {
    font-size: 10px;
    margin-left: 0px;
    color: $pink;
  }

  i {
    color: $text-gray;
  }

  .listImg {
    margin-bottom: -4px;
    border-radius: 50%;
    margin-right: 20px;
    width: 20px;
    margin-left: 20px;
  }

}

.controls-wrapper {
  display: flex;
  align-items: center;

  img {
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }

  #play-song-name {
    margin-top: 0;
    font-size: 13px;
    color: $text-gray;
  }
}

#play-button {
  margin-left: 20px;
  color: $text-gray;
  cursor: pointer;
}

.control-button, #play-next, #play-previous {
  margin-top: -8px;
  height: 0px;
  margin-right: 10px;
  margin-left: 20px;
  border: none;
  background-color: white;
  color: $pink;
  padding: 0;
  font-size: 26px;
  outline: none;
  cursor: pointer;
}

#play-next, #play-previous {
  font-size: 19px;
  margin-top: -2px;
}

#play-next {
  margin-right: 20px;
}

.control-button {
  transition: transform 150ms ease;
  &:hover {
    transform: scale(1.15) translateY(-2px);
  }
}

.details-page .background-img {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  object-fit: cover;
}

.details-page .cover-img {
  width: 100px;
}

.details-content {
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.09);
  margin: 9px;
  h4 {
    margin-left: 15px;
    color: $text-gray;
  }
}

.details-page .details-content {
  display: flex;
  padding: 20px;
}

.bell {
  margin-right: 15px;
  margin-left: 45%;
}

.userBlock {
    border-left: 1px solid $border-gray;

    img {
      border-radius: 50%;
      height: 35px;
      margin-left: 25px;
      padding-bottom: 14px;
      padding-top: 13px;
    }
  }

  #progress-bar {
    flex-grow: 1;
    height: 4px;
    margin-left: 25px;
    margin-right: 35px;
    cursor: pointer;

    &:hover {
      span.progress-circle {
        opacity: 1 !important;
        transform: translateY(-4px) scale(1) !important;
      }
    }

    div.track {
      height: 2px;
      background-color: $light-border;
      position: relative;
      transform: translateY(2px);
    }

    span.active-track {
      display: block;
      width: 0;
      background-color: $pink;
      height: 2px;
      position: relative;
      transition: all 150ms ease;

      span.progress-circle {
        height: 9px;
        width: 9px;
        display: block;
        opacity: 0;
        background-color: $pink;
        border-radius: 50%;
        transform: translateY(-4px) scale(0);
        right: -4px;
        position: absolute;
        transition: all 150ms ease;
      }
    }
  }
